@font-face {
  font-family: didot-bold;
  src: url(../fonts/Didot_Bold.ttf); }

@font-face {
  font-family: didot;
  src: url(../fonts/Didot.ttf); }

.row {
  width: 100%; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.page-section {
  height: 823px; }
  .page-section .content {
    width: 1000px;
    height: 100%;
    margin: 0 auto; }

.img-bg {
  display: none; }

.img-liquid-fill {
  background-attachment: fixed; }

.top-nav {
  height: 62px;
  position: fixed;
  background: #f1f0ec;
  width: 100%;
  top: 0px;
  z-index: 99999; }
  .top-nav .logo {
    margin-left: 40px; }
  .top-nav .top-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right; }
    .top-nav .top-menu li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      line-height: 62px;
      cursor: pointer; }
      .top-nav .top-menu li a {
        text-decoration: none;
        font-size: 11px;
        color: #666; }

#parallax-nav {
  position: fixed;
  top: 50%;
  margin-top: -70px;
  right: 15px;
  z-index: 999;
  padding-right: 14px; }
  #parallax-nav ul li {
    padding: 10px 0 0px 15px;
    cursor: pointer; }
    #parallax-nav ul li.active a {
      background: url(../img/active-point.png) no-repeat 50% 50%; }
    #parallax-nav ul li a {
      display: block;
      width: 15px;
      height: 15px;
      background: url(../img/point.png) no-repeat 50% 50%; }
      #parallax-nav ul li a span {
        position: absolute;
        right: 0px;
        white-space: nowrap;
        font-size: 13px;
        color: #000;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
    #parallax-nav ul li:hover a span {
      right: 20px;
      opacity: 1;
      z-index: 999;
      padding-right: 15px;
      visibility: visible; }

#landing {
  margin-top: 62px; }
  #landing .container-full {
    height: 100%;
    position: relative; }
    #landing .container-full .wrapper {
      position: absolute;
      text-align: center;
      top: 45%;
      color: #fff; }
      #landing .container-full .wrapper .title {
        font-size: 45px; }
      #landing .container-full .wrapper .split {
        border-bottom: 1px solid #fff;
        padding-top: 10px; }
      #landing .container-full .wrapper .sub-title {
        font-family: didot;
        font-size: 16px;
        letter-spacing: 10px;
        padding-left: 10px;
        padding-top: 16px; }
    #landing .container-full .scroll-down {
      position: absolute; }

#collaction .container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative; }
  #collaction .container #collaction-selector {
    position: absolute;
    border: 1px solid #000;
    width: 320px;
    height: 670px;
    top: 90px;
    left: 18px; }
    #collaction .container #collaction-selector .arrow {
      background: url(../img/black-arrow-down.png) no-repeat 50% 50%;
      height: 15px;
      width: 100%;
      margin-top: 20px; }
    #collaction .container #collaction-selector .title {
      font-size: 33px;
      padding-top: 10px;
      text-align: center; }
    #collaction .container #collaction-selector .split {
      border-bottom: 1px solid #000;
      margin: 0 25px; }
    #collaction .container #collaction-selector .txt {
      font-size: 12px;
      letter-spacing: 10px;
      text-align: center;
      padding-top: 6px; }
    #collaction .container #collaction-selector .more {
      background: url(../img/more.png);
      height: 30px;
      width: 80px;
      display: inline-block;
      position: absolute;
      left: 116px;
      bottom: 20px; }
  #collaction .container .img-gallery {
    width: 100%;
    text-align: center;
    padding-top: 265px; }
    #collaction .container .img-gallery li {
      display: inline-block;
      cursor: pointer; }
      #collaction .container .img-gallery li.ml {
        margin-right: 12px; }

#about-brand, #about-brand {
  width: 100%;
  height: 599px;
  position: relative; }
  #about-brand .wrapper, #about-brand .wrapper {
    position: absolute;
    text-align: center;
    color: #fff; }
    #about-brand .wrapper .title, #about-brand .wrapper .title {
      font-size: 33px; }
    #about-brand .wrapper .sub-title, #about-brand .wrapper .sub-title {
      letter-spacing: 10px;
      padding-left: 10px;
      font-size: 12px; }
  #about-brand .scroll-down, #about-brand .scroll-down {
    position: absolute; }

#about-brand2 .container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  height: 100%; }
  #about-brand2 .container ul {
    padding-top: 200px;
    width: 100%;
    text-align: center; }
    #about-brand2 .container ul li {
      display: inline-block; }
      #about-brand2 .container ul li.ml {
        margin-left: 90px; }
      #about-brand2 .container ul li .wrapper {
        width: 300px;
        height: 483px;
        overflow: hidden;
        position: relative;
        text-align: left;
        text-align: left; }
        #about-brand2 .container ul li .wrapper .title {
          font-size: 14px;
          color: #000;
          letter-spacing: 2px;
          padding-top: 12px;
          padding-bottom: 20px; }
        #about-brand2 .container ul li .wrapper .article {
          font-size: 12px;
          color: #999;
          height: 370px; }
          #about-brand2 .container ul li .wrapper .article .jspDrag {
            background: #000; }
          #about-brand2 .container ul li .wrapper .article .jspTrack {
            background: none; }
          #about-brand2 .container ul li .wrapper .article .jspVerticalBar {
            background: url("../img/scroller-bg.png") repeat-y; }
        #about-brand2 .container ul li .wrapper .more {
          color: #000;
          font-size: 14px;
          position: absolute;
          bottom: 0;
          text-decoration: none;
          margin-bottom: -5px; }
      #about-brand2 .container ul li img {
        vertical-align: baseline; }

#brand-news2 {
  position: relative; }
  #brand-news2 .scroll-up {
    position: absolute;
    left: 50%;
    bottom: 20px;
    cursort: pointer;
    margin-left: -43px; }
  #brand-news2 .container {
    width: 1000px;
    height: 100%;
    margin: 0 auto; }
    #brand-news2 .container .selector {
      width: 635px;
      margin: 0 auto;
      padding-top: 100px; }
      #brand-news2 .container .selector span {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 2px;
        background: url(../img/point.png) no-repeat 50% 50%;
        cursor: pointer; }
        #brand-news2 .container .selector span.active {
          background: url(../img/active-point.png) no-repeat 50% 50%; }
    #brand-news2 .container .news-collection {
      position: relative;
      width: 1000px;
      height: 460px;
      overflow: hidden; }
      #brand-news2 .container .news-collection .news {
        position: absolute;
        width: 1000px;
        height: 100%; }
        #brand-news2 .container .news-collection .news ul {
          width: 635px;
          height: 100%;
          font-size: 0;
          margin: 0 auto; }
          #brand-news2 .container .news-collection .news ul li {
            display: inline-block;
            float: left; }
            #brand-news2 .container .news-collection .news ul li img {
              vertical-align: baseline; }
            #brand-news2 .container .news-collection .news ul li .polt {
              position: relative;
              margin-right: 6px;
              width: 314px;
              height: 455px;
              background: #fff; }
              #brand-news2 .container .news-collection .news ul li .polt .txt {
                margin-top: 30px;
                font-size: 12px;
                color: #999;
                padding-left: 10px; }
              #brand-news2 .container .news-collection .news ul li .polt .more {
                font-size: 14px;
                color: #000;
                position: absolute;
                bottom: 20px;
                left: 10px;
                text-decoration: none; }
                #brand-news2 .container .news-collection .news ul li .polt .more:hover {
                  text-decoration: underline; }

#foot-nav {
  width: 100%;
  height: 330px;
  background: #f1f0ec;
  position: relative; }
  #foot-nav #move-top {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -25px;
    display: block;
    width: 49px;
    height: 28px;
    cursor: pointer;
    background: url(../img/top.png) no-repeat 50% 50%; }
  #foot-nav .container {
    width: 1000px;
    margin: 0 auto; }
    #foot-nav .container ul {
      width: 100%;
      height: 100%;
      font-size: 0px;
      padding-top: 80px; }
      #foot-nav .container ul li {
        width: 200px;
        height: 100%;
        display: inline-block;
        font-size: 14px;
        float: left; }
        #foot-nav .container ul li .col {
          text-align: center; }
          #foot-nav .container ul li .col .title {
            font-size: 12px;
            color: #000;
            line-height: 2em;
            font-size: NSimSun; }
          #foot-nav .container ul li .col .title-en {
            font-size: 11px;
            color: #666; }
          #foot-nav .container ul li .col .split {
            margin: 16px 88px;
            border-bottom: 1px solid #999; }
          #foot-nav .container ul li .col .lnk {
            color: #999; }
            #foot-nav .container ul li .col .lnk a {
              font-size: 12px;
              color: #999;
              line-height: 1.8em;
              text-decoration: none; }
              #foot-nav .container ul li .col .lnk a:hover {
                text-decoration: underline; }
