.top-nav{
  height: 62px;
  position:fixed;
  background:#f1f0ec;
  width:100%;
  top:0px;
  z-index:99999;
  .logo{
    margin-left:40px;
  }
  .top-menu{
    list-style:none;
    margin:0;
    padding:0;
    float:right;
    li{
      list-style:none;
      margin:0;
      padding:0;
      display:inline-block;
      line-height:62px;
      cursor:pointer;
      a{
        text-decoration:none;
        font-size:11px;
        color:#666;
      }// END .a
    }// END li
  }// END .top-menu

}// END .top-nav
