@font-face {
  font-family: didot-bold;
  src: url(../fonts/Didot_Bold.ttf);
}
@font-face {
  font-family: didot;
  src: url(../fonts/Didot.ttf);
}

.row{
  width:100%;
}
ul,li{
  list-style:none;
  margin:0;
  padding:0;
}
.page-section{
  height:823px;
  .content{
    width:1000px;
    height: 100%;
    margin:0 auto;
  }
}
.page-section-small{
  height:645px;
  .container{
    width:1000px;
    height: 100%;
    margin:0 auto;
  }
}
.img-bg{
  display:none;
}
.img-liquid-fill,.img-liquid-fill-top{
  background-attachment: fixed;
}
.height-625{
  height:625px;
}
.fl{
  float:left;
}

@import "_fonts";
@import "_inner_header";
@import "_top_nav";
@import "_parallax_nav";
@import "_landing";
@import "_collaction";
@import "_about_brand";
@import "_about_brand2";
@import "_brand_news2";
// for inner page
@import "_store_show";
@import "_about";
@import "_jiameng";
@import "_contact_us";
@import "_foot_nav";
