- var title = "关于品牌"
- var subTitle = "ABOUT BRAND"
- var headerId = "about-brand-page"
- var imgBG = "img/img-1.2.jpg"
include _inner_header
.row.page-section-small#about-brand-desc
  .container
    .title.ft-NSimSun.fz-32 公司介绍
    .sub-title.ft-arial.fz-12 Company Description
    .jScrollPane.desc
      p 杭州映山红服饰创建于2007年，是一家集羽绒服研发、设计、生产、销售、服务于一体的服装企业，旗下品牌Apxx jones爱博琼斯是一个专业专注的时尚羽绒服女装品牌，Apxx jones爱博琼斯经过六年多的历练，迅速发展成拥有产品研发、生产、连锁专卖销售为一体综合性品牌企业.
      p 杭州映山红服饰创建于2007年，是一家集羽绒服研发、设计、生产、销售、服务于一体的服装企业，旗下品牌Apxx jones爱博琼斯是一个专业专注的时尚羽绒服女装品牌，Apxx jones爱博琼斯经过六年多的历练，迅速发展成拥有产品研发、生产、连锁专卖销售为一体综合性品牌企业.
      p 杭州映山红服饰创建于2007年，是一家集羽绒服研发、设计、生产、销售、服务于一体的服装企业，旗下品牌Apxx jones爱博琼斯是一个专业专注的时尚羽绒服女装品牌，Apxx jones爱博琼斯经过六年多的历练，迅速发展成拥有产品研发、生产、连锁专卖销售为一体综合性品牌企业.
      p 杭州映山红服饰创建于2007年，是一家集羽绒服研发、设计、生产、销售、服务于一体的服装企业，旗下品牌Apxx jones爱博琼斯是一个专业专注的时尚羽绒服女装品牌，Apxx jones爱博琼斯经过六年多的历练，迅速发展成拥有产品研发、生产、连锁专卖销售为一体综合性品牌企业.
      p 杭州映山红服饰创建于2007年，是一家集羽绒服研发、设计、生产、销售、服务于一体的服装企业，旗下品牌Apxx jones爱博琼斯是一个专业专注的时尚羽绒服女装品牌，Apxx jones爱博琼斯经过六年多的历练，迅速发展成拥有产品研发、生产、连锁专卖销售为一体综合性品牌企业.
