.row.img-liquid-fill#about-brand
  img(src="img/img-3.jpg")
  .wrapper.center
    .title 关于品牌
    .sub-title ABOUT BRAND
  a(href="#landing_profile" class="scroll-down")
    img(src="img/scroll-down.png")