.row.page-section.img-liquid-fill#about-brand2
  img(src="img/bg-1.jpg")
  .container
    ul
      li
        img(src="img/img-4.png")
      li.txt
        .wrapper
          .title A Light-hearted Spring & Summer
          .article.jScrollPane
            p For this collection, Decoster sent 40 people from all walks of life down the runway that embody what the brand stands for : an easy - going , casual, and comfortable lifestyle. They were not the usual skinny and glamorous models you would normally find at fashion week ; but rather just regular people. There were grandmothers , students, artists, mothers & daughters, identical twins, and just about anyone that you would meet in your everyday life. People come from all sorts of places, do all sorts of things , and come in all sorts of shapes & sizes; and it's Decoster's goal to celebrate this.
            p For this 2014 Spring Summer collection, Decoster adopts natural textures , refreshing hues , lively contrasting colors , and exquisite hand embroidery. The unusual silhouettes are flattering to the natural body form, showing 
            p For this collection, Decoster sent 40 people from all walks of life down the runway that embody what the brand stands for : an easy - going , casual, and comfortable lifestyle. They were not the usual skinny and glamorous models you would normally find at fashion week ; but rather just regular people. There were grandmothers , students, artists, mothers & daughters, identical twins, and just about anyone that you would meet in your everyday life. People come from all sorts of places, do all sorts of things , and come in all sorts of shapes & sizes; and it's Decoster's goal to celebrate this.
            p For this 2014 Spring Summer collection, Decoster adopts natural textures , refreshing hues , lively contrasting colors , and exquisite hand embroidery. The unusual silhouettes are flattering to the natural body form, showing
          a.more(href="#") More →
      li.ml
        img(src="img/img-5.png")          
