.row.img-liquid-fill#about-brand
  img(src="img/img-3.1.jpg")
  .wrapper.center
    .title 关于品牌
    .sub-title ABOUT BRAND
  a(href="#about-brand2" class="scroll-down")
    img(src="img/scroll-down.png")
