.row.img-liquid-fill#about-brand
  img(src="img/img-6.png")
  .wrapper.center
    .title 品牌新闻
    .sub-title BRAND NEWS
  a(href="#landing_profile" class="scroll-down")
    img(src="img/scroll-down.png")
