.row.page-section.img-liquid-fill#brand-news2
  img(src="img/bg-2.jpg")
  a.scroll-up(href="javascript:void(0)")
    img(src="img/scroll-up.png")
  .container
    .selector
      span.active("data-ref"="news-1")
      span("data-ref"="news-2") 
    .news-collection
      .news#news-1
        ul
          li
            .polt
              img(src="img/img-7.png")
              .txt Crafted from fibres such as linen, cotton, wool , and leather, the feel is immediately natural and comfortable. Fabrics are a mixture of imports from Japan and Italy with those found locally
              a.more(href="#") More →
          li
            img(src="img/img-4.jpg")

      


