- var title = "品牌介绍"
- var subTitle = "BRAND INTRODUCTION"
- var headerId = "about-intro"
- var imgBG = "img/img-1.2.jpg"
- var isSmallHeader = true
include _inner_header
.row.page-section-small#brand-intro-desc
  .container
    .s1
      .title 年龄定位
      .sub-desc 心理消费年龄25岁—45岁&nbsp;&nbsp;&nbsp;&nbsp;核心消费年龄28岁—38岁
    .s2
      .title 群体定位
      .sub-desc 时尚白领——适用于办公室的时尚通情装、演绎白领丽人的时尚生活观念品质女性——忙碌而快乐，充实而享受，在日常生活中演绎属于自己的时尚，彰显个人品味，时尚不张扬，女性化而不繁琐。
    .s3
      .title 价格定位
      .sub-desc 700元-1500元 →  核心价格800元-1200元 
