.row.page-section.img-liquid-fill#collaction
  img(src="img/bg-1.jpg")
  .container
    #collaction-selector
      .arrow
      .title 服饰搭配
      .split
      .txt COLLACTION
      a.more(href="fashionshow.html")
    ul.img-gallery
      li.ml("data-pos"="18" data-ref="fashionshow.html?series=spring")
        img(src="img/img-1.png")
      li.ml("data-pos"="338" data-ref="fashionshow.html?series=winter")
        img(src="img/img-2.jpg")
      li("data-pos"="660" data-ref="fashionshow.html?series=summer")
        img(src="img/img-3.png")
