.row#foot-nav
  .foot-shadow
  a#move-top(href="#landing")
  .container
    ul
      li
        .col
          .title 关于映山红
          .title-en ABOUT US
          .split
          .lnk 
            a(href="#") Positioning
          .lnk
            a(href="#") Style 
          .lnk
            a(href="#") interpretation
      li
        .col
          .title 服装展示
          .title-en FASHION SHOW
          .split
          .lnk
            a(href="#") Spring 
          .lnk
            a(href="#") Summer
          .lnk
            a(href="#") Autumn 
          .lnk
            a(href="#") Winter 
          .lnk
            a(href="#") Large
      li
        .col
          .title 搭配
          .title-en COLLOCATION
          .split
          .lnk
            a(href="#") SHOP
          .lnk
            a(href="#") VIP
      li
        .col
          .title 品牌新闻
          .title-en BRAND NEWS
          .split
          .lnk
            a(href="#") 2014夏季系列上市
          .lnk
            a(href="#") 2014/06/26发布会
          .lnk
            a(href="#") T台走秀
      li
        .col
          .title 联系我们
          .title-en CONTACT US
          .split
          .lnk Copyright © 2014  Apxx-jones
          .lnk All Rights Reserved.   


