.row.page-section#landing
  .container-full.img-liquid-fill-top
    img(src="img/img-1.1.jpg")
    .wrapper.center
      .title 夏季系列新品上市
      .split
      .sub-title SUMMER SERIES NEW LISTING
    a(href="#collaction" class="scroll-down")
      img(src="img/scroll-down.png")
