.row.page-section#landing
  .container-full.img-liquid-fill-top
    img(src="img/img-1.1.jpg")
    .wrapper.center
      .title 羽绒服新品
      .split
      .sub-title DOWN COST
    a(href="#collaction" class="scroll-down")
      img(src="img/scroll-down.png")
