.top-nav
  img(src="img/logo.png" class="logo")
  ul.top-menu
    li
      a(href="javascript:void(0)" data-zh="首页") HOME
    li
      a(href="javascript:void(0)" data-zh="关于我们") ABOUT US
    li
      a(href="javascript:void(0)" data-zh="时尚秀") FASHION SHOW
    li
      a(href="javascript:void(0)" data-zh="搭配") COLLOCATION
    li
      a(href="javascript:void(0)" data-zh="新闻") NEWS
    li
      a(href="javascript:void(0)" data-zh="店铺") SHOP
    li
      a(href="javascript:void(0)" data-zh="会员") VIP
    li
      a(href="javascript:void(0)" data-zh="联系我们") CONTACT US






