doctype html
html
  include _header
  body
    include _top_nav
    include _about_brand_inner
    include _brand_intro_inner
    include _brand_pos_inner
    include _our_story_inner
    include _foot_nav
    include _foot
