doctype html
- var title = "联系我们"
- var subTitle = "CONTACT US"
- var headerId = "contact-us"
- var imgBG = "img/h4.png"
- var headerClass = "height-250"
html
  include _header
  body
    include _top_nav
    include _inner_header
    .row.page-section#contact-us-desc
      .container
        .split
        .content
          img.left-img.fl(src="img/contact-us.jpg")
          .desc.fl
            img(src="img/txt-brand.png")
            .title 杭州映山红服饰有限公司
            .addr 地 址：浙江省杭州市余杭区乔司镇方桥村博氏工业园A栋3楼
            .phone 电 话：0571-86291131
            .fax 传 真：0571-88778220
            .ipt-group
              input(placeholder="Name")
            .ipt-group
              input(placeholder="Phone")
            .ipt-group
              input(placeholder="Mailbox")
            .ipt-group
              textarea(placeholder="Content")
    include _foot_nav
    include _foot
