doctype html
- var title = "服装展示"
- var subTitle = "FASHION SHOW"
- var headerId = "fashion-show-header"
- var imgBG = "img/img-1.2.jpg"
- var headerClass = "height-250"
html
  include _header
  body
    include _top_nav
    include _inner_header
    include _fashion_show_inner
    include _foot_nav
    include _foot
