doctype html
html
  include _header
  body
    include _top_nav
    include _parallax_nav
    include _landing
    include _collaction
    include _about_brand
    include _about_brand2
    include _brand_news
    include _brand_news2
    include _foot_nav
    include _foot

