doctype html
- var title = "品牌新闻"
- var subTitle = "BRAND NEWS"
- var headerId = "brand-news-page"
- var imgBG = "img/img-1.2.jpg"
html
  include _header
  body
    include _top_nav
    include _inner_header
    include _brand_new_inner
    include _foot_nav
    include _foot
