- var title = "门店概览"
- var subTitle = "STORE EXHIBITION"
- var headerId = "store-show"
- var pageJS = "js/_store_show.js"
- var imgBG = "img/img-1.2.jpg"
- var headerClass = "height-250"
doctype html
html
  include _header
  body
    include _top_nav
    include _inner_header
    include _store_show
    include _foot_nav
    include _foot

